@CHARSET "ISO-8859-1";
  body
        {
         background-image: url("images/b4.png");
        }

         #button1
        {
         margin-left: 1000px;
        margin-top: 20px;
        }

        #button2
        {
            margin-left: 1200px;
        }
        
 