@CHARSET "ISO-8859-1";
 body {
            background-image: url("images/b1.jpg");
        }

        .sidenav {
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x:hidden;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            font-size: 25px;
            color: #818181;
            display: block;

        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .span1{
            font-size: 30px;
            color:white;
        }
        